* {

    box-sizing: border-box;
}
body {
    background-image: url("../images/starsky.jpeg"); 
    background-repeat: no-repeat;
}

.hero {
    padding: 3% 4% 0 4%;
}


h1 {

    color: white;
    text-align: center;
    padding: 2px;
}

/* Left side column  */

.cardHeader {
    border: 1px solid black;
}

.cityHistory {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.min-100-vh {
    min-height: 100vh;
}

.leftContainer {
    margin: 0;
    padding: 30px;
}

.formLabel, .formInput {
  display: block;
}

.formInput {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.0rem;
}

.leftBottom {
    padding: 20px;
}

.cityHistory {
    padding: 0;
    list-style: none;
}

.btn, .cityBtn {
    border: 1px solid gray;
    margin-top: 3px;
    font-size: 1.0rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 10px 0;
    background-color: rgb(192, 225, 238);
    border-radius: 6px;
}

.btn:hover, .cityBtn:hover {
    background-color:#a3bdc7;
}

/* right side */

.rightTop {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #5d8696;
    height: 275px;
    border-radius: 5px;
    padding: 30px 50px;
    display: block;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #e9f7fc;
}

.w-icon {
    margin-left: 40px;
}

.weatherInfo {
    line-height: 1.8;
    margin-left: 10px;
    letter-spacing: 1.3;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    
}

p {
    text-align: center;
}

h4 {
    font-size: 1.0rem;
}

.rightBottom {
    margin: 0;
}

.dayForecast {
    width: 100%;
    margin: 5px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: goldenrod;
}

.severe {
    background-color: red;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    margin: 8px;
    border: 1px solid #7f9ba6;
    font-size: .8rem;
    background-color: #e9f7fc;
}